.services-container{
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.services-container .allCard{
    display: flex;
    flex-direction: row;
}

.services-container .card .content {
    position: relative;
    width: 550px;
    height: 330px;
    margin: 30px 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(247, 249, 255, 0.021);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: left;
}
.services-container .card .content h2{
    position: absolute;
    top: -100px;
    right: 30px;
    font-size: 6em;
    color: rgba(13, 245, 253, 0.119);
    pointer-events: none;
}
.services-container .card .content h3 {
    font-size: 1.8rem;
    color: #28F0FD;
    z-index: 1;
}
.services-container .card .content p {
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
}
.services-container .card .content .tech{
    border: none;
    margin: 0px;
    margin-right: 2px;
    padding: 0px;
    font-weight: 500;
}
.services-container .card .content p span{
    border-left: 1px solid #28F0FD;;
    border-right: 1px solid #28F0FD;;
    margin-left: 5px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 1250px) {
    .services-container .card .content {
        width: 450px;
        height: 280px;
    }
    .services-container .card .content p {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 1250px) {
    .services-container .card .content {
        width: 370px;
        height: 240px;
    }
    .services-container .card .content p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 950px) {
    .services-container .allCard{
        flex-direction: column;
    }
    .services-container .card .content {
        width: 550px;
        height: 330px;
    }
    .services-container .card .content p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 805px) {
    .services-container .card .content {
        width: 450px;
        height: 280px;
    }
    .services-container .card .content p {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 650px) {
    .services-container .card .content {
        width: 400px;
        height: 240px;
    }
    .services-container .card .content p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 500px) {
    .services-container .card .content {
        width: 330px;
        height: 200px;
    }
    .services-container .card .content p {
        font-size: 0.5rem;
    }
   
}
@media screen and (max-width: 450px) {
    .services-container .card .content {
        width: 300px;
        height: 170px;
    }
    .services-container .card .content p {
        font-size: 0.6rem;
        margin-top: -5px;
    }
    .services-container .card .content h2{
        top: -70px;
        font-size: 4em;
    }
    .services-container .card .content h3 {
        margin-top: 0px;
        font-size: 1.4rem;
    }
}