.services-container{
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.services-container .allCard{
    display: flex;
    flex-direction: row;
}

.services-container .card .content {
    position: relative;
    width: 550px;
    height: 330px;
    margin: 30px 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(247, 249, 255, 0.021);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: left;
}
.services-container .card .content h2{
    position: absolute;
    top: -100px;
    right: 30px;
    font-size: 6em;
    color: rgba(13, 245, 253, 0.119);
    pointer-events: none;
}
.services-container .card .content h3 {
    font-size: 1.8rem;
    color: #28F0FD;
    z-index: 1;
}
.services-container .card .content p {
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
}
.services-container .card .content .tech{
    border: none;
    margin: 0px;
    margin-right: 2px;
    padding: 0px;
    font-weight: 500;
}
.services-container .card .content p span{
    border-left: 1px solid #28F0FD;;
    border-right: 1px solid #28F0FD;;
    margin-left: 5px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

