
.webDev-container img{
    position: relative;
    width: 496px;
    height: 268px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    object-fit: cover;
}
.webDev-container .img{
    width: 496px;
    height: 268px;  
}
.hoverButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 496px;
    height: 268px;
    box-sizing: border-box;
    color: white;
    background-color: black;
    margin-top: -272px;  
}
.hoverButton button{
    width: 153px;
    height: 46px; 
    background: #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
}
.hoverButton button:hover{
    background: black;
    color: #FFFFFF;
    border: 1px solid white;
    transition: 0.5s;
}
.webDev-container .img:hover .hoverButton{
        opacity: 0.9;
        transition: 0.9s;
}


@media screen and (max-width: 1070px) {
    .webDev-container img{
        width: 426px;
        height: 218px;
    }
    .webDev-container .img{
        width: 426px;
        height: 218px;
    }
    .hoverButton{
        width: 426px;
        height: 218px;
        margin-top: -222px;  
    }
}

@media screen and (max-width: 950px) {
    .webDev-container img{
        width: 346px;
        height: 188px;
    }
    .webDev-container .img{
        width: 346px;
        height: 188px;
    }
    .hoverButton{
        width: 346px;
        height: 188px;
        margin-top: -192px;  
    }
}

@media screen and (max-width: 800px) {
    .webDev-container img{
        width: 306px;
        height: 158px;
    }
    .webDev-container .img{
        width: 306px;
        height: 158px;
    }
    .hoverButton{
        width: 306px;
        height: 158px;
        margin-top: -162px;  
    }
}
@media screen and (max-width: 500px) {
    .webDev-container img{
        width: 426px;
        height: 218px;
    }
    .webDev-container .img{
        width: 426px;
        height: 218px;
    }
    .hoverButton{
        width: 426px;
        height: 218px;
        margin-top: -222px;  
    }
}

@media screen and (max-width: 420px) {
    .webDev-container img{
        width: 336px;
        height: 160px;
    }
    .webDev-container .img{
        width: 336px;
        height: 160px;
    }
    .hoverButton{
        width: 336px;
        height: 160px;
        margin-top: -164px;  
    }
}