.animation {
    /* color: red; */
    background-color: #fff;
    padding: 15px;
    color: black;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}