@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

.header-section{
    margin-bottom: 70px;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.icon {
   font-size: 50px;
   padding: 10px;
}
.social-media a{
    color: black;
    text-decoration: none;
}
.social-media a:hover{
    margin-top: -15px;
    transition: all 0.5s;
}
svg{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.icon1{
    font-size: 57px;
    padding: 10px;
}
.saaf h1{
    font-family: 'IM Fell Great Primer SC', serif;  
    height: 60px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 196px;
}
.saaf p{
    margin-left: 130px;
    font-weight: 400;
    font-size: 38px;
    line-height: 38px;
}
.saaf-details p{
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    margin-top: -20px;
}
.saaf-details p span{
    color: #0B98FF
}
.header-section button{
    width: 128px;
    height: 43px;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;
}
.header-section button:hover{
    background: white;
    color: black;
    transition: 0.5s;
}

@media screen and (max-width: 1115px) {
    body{
        width: auto;
        overflow-x: hidden;
      }   
}
@media screen and (max-width: 800px) {  
    body{
      width: auto;
      overflow-x: hidden;
    }    
  .saaf h1{
      font-size: 106px;
  }
  .saaf p{
      margin-left: 0px;
      margin-top: -35px;
      font-size: 30px;
  }
  .saaf-details p{
      font-weight: 400;
      font-size: 18px;
      line-height: 15px;
      margin-top: -10px;
  }
  .header-section button{
      margin-top: 15px;
  }   
    }

@media screen and (max-width: 500px) {  
  body{
    width: auto;
    overflow-x: hidden;
  }  
.saaf h1{
    font-size: 106px;
}
.saaf p{
    margin-left: 0px;
    margin-top: -35px;
    font-size: 30px;
}
.saaf-details p{
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    margin-top: -10px;
    margin: auto;
}
.header-section button{
    margin-top: 30px;
}   
  }

  
@media screen and (max-width: 420px) {  
  .saaf-details p{
      width: 325px;
  }  
}