@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

.header-section{
    margin-bottom: 70px;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.icon {
   font-size: 50px;
   padding: 10px;
}
a{
    color: black;
}
svg{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.icon1{
    font-size: 57px;
    padding: 10px;
}
.saaf h1{
    font-family: 'IM Fell Great Primer SC', serif;  
    height: 60px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 196px;
}
.saaf p{
    margin-left: 130px;
    font-family: '?????';
    font-weight: 400;
    font-size: 38px;
    line-height: 38px;
}
.saaf-details p{
    font-family: '?????';
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    margin-top: -20px;
}
.saaf-details p span{
    color: #0B98FF
}
.header-section button{
    width: 128px;
    height: 43px;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;
}
.header-section button:hover{
    background: white;
    color: black;
}
